<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RingCentral Authorization Code Flow Authentication</title>
    </head>
    <body>
        <div align="justify">
          <div style="width:500px">
            <p>
              <b>Important!</b> You need to enable pop-up for this web site in order to login your RingCentral via this Web app.</br>
            </p>
          </div>
          <h3>Choose your RingCentral Account Environment</h3>
          <div>
            <a href="/login?env=production">Login Production Account</a>&nbsp;&nbsp;&nbsp;
            <a href="/login?env=sandbox">Login Sandbox Account</a>
          </div>
        </div>
    </body>
</html>
